@* Client/Pages/Authentication.razor *@

@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration Configuration

<RemoteAuthenticatorView Action="@Action">
    <LogOut>
        @{
            var authority = (string)Configuration["Auth0:Authority"];
            var clientId = (string)Configuration["Auth0:ClientId"];

            Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");
        }
    </LogOut>

    <LoggingIn>
        <p>Connexion avec Auth0 en cours...</p>
    </LoggingIn>

    <LogInFailed>
        <p>Échec de la connexion. Veuillez réessayer. @context</p>
    </LogInFailed>

    <LogOutSucceeded>
        <p>Vous avez été déconnecté avec succès.</p>
    </LogOutSucceeded>

    <LogOutFailed>
        <p>Échec de la déconnexion. Veuillez réessayer.</p>
    </LogOutFailed>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; }
}

<style>
    p{
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
        font-size: 4em;
    }
</style>