@* Client/Pages/Authentication.razor *@

@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Configuration

@inject NavigationManager Navigation
@inject IConfiguration Configuration

<RemoteAuthenticatorView Action="@Action">
    <LogOut>
        @{
            var authority = (string)Configuration["Auth0:Authority"];
            var clientId = (string)Configuration["Auth0:ClientId"];

            Navigation.NavigateTo($"{authority}/v2/logout?client_id={clientId}");
        }
    </LogOut>

    <CompletingLoggingIn>
        <p class="loading">Connecté !</p>
    </CompletingLoggingIn>

    <LoggingIn>
        <p class="loading">Connexion avec Auth0 en cours...</p>
    </LoggingIn>

    <LogInFailed>
        <p class="loading">Échec de la connexion. Veuillez réessayer. @context</p>
    </LogInFailed>

    <LogOutSucceeded>
        <p class="loading">Vous avez été déconnecté avec succès.</p>
    </LogOutSucceeded>

    <LogOutFailed>
        <p class="loading">Échec de la déconnexion. Veuillez réessayer.</p>
    </LogOutFailed>
</RemoteAuthenticatorView>

@code {
    [Parameter] public string Action { get; set; }
}