@page "/game"
@inject IGameService GameService
@inject IJSRuntime JsRuntime
@inject IModalService Modal
@attribute [Authorize]

<PageTitle>BattleShip</PageTitle>

<main>
    @if (GameService.gameId != null)
    {
        <button @onclick="OnRollback">Rollback</button>
        <div class="grids">
            <PlayerGrid IsPlacingBoats="GameService.IsPlacingBoat" PositionsData="GameService.playerGrid.PositionsData" OnTogglePlacingBoats="TogglePlacingBoats"></PlayerGrid>

            <div class="historique-container">
                @foreach (var item in GameService.historique)
                {
                    <p>@item</p>
                }
            </div>

            <ComputerGrid IsPlacingBoats="GameService.IsPlacingBoat" PositionsData="GameService.opponentGrid.PositionsData" OnAttack="HandleAttack"></ComputerGrid>
        </div>
    }
    else
    {
        <p>Chargement ...</p>
    }
</main>

<style>
    .grids {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        gap: 50px;
        justify-content: center;
        align-items: stretch;
        max-height:480px;
    }

    .historique-container {
        text-align:center;
        background-color: #f9f9f9;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        padding: 20px;
        overflow-y: auto; 
        flex-grow: 1;
        display: flex;
        flex-direction: column; 
        width:320px;
    }

        .historique-container h2 {
            font-size: 1.2em;
            margin-bottom: 15px;
            color: #444;
            font-weight: bold;
        }

        .historique-container p {
            font-size: 0.9em;
            margin: 8px 0;
            line-height: 1.5;
            color: #555;
            padding: 8px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

            .historique-container p:hover {
                background-color: #e6f7ff;
            }
</style>

@code {
    private void TogglePlacingBoats()
    {
        GameService.IsPlacingBoat = !GameService.IsPlacingBoat;
    }

    private async Task HandleAttack(Position position)
    {
        await GameService.Attack(position);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GameService.StartGame();
    }

    private async Task OnRollback()
    {
        await GameService.Rollback();
    }
}
