@page "/game"
@inject IGameService GameService
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<PageTitle>BattleShip</PageTitle>

<main>
    @if (GameService.gameId != null)
    {
        <div class="grids">
            <PlayerGrid IsPlacingBoats="isPlacingBoats" PositionsData="GameService.playerGrid.PositionsData" OnTogglePlacingBoats="TogglePlacingBoats"></PlayerGrid>
            <ComputerGrid IsPlacingBoats="isPlacingBoats" PositionsData="GameService.opponentGrid.PositionsData" OnAttack="HandleAttack"></ComputerGrid>
        </div>
    }
    else
    {
        <p>Chargement ...</p>
    }
</main>

<style>
    .grids {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
</style>

@code {
    bool isPlacingBoats = true;
    private void TogglePlacingBoats()
    {
        isPlacingBoats = !isPlacingBoats;
    }

    private async Task HandleAttack(Position position)
    {
        await GameService.Attack(position);

        StateHasChanged(); 
    }

    protected override async Task OnInitializedAsync()
    {
        await GameService.StartGame();
    }
}
