@page "/game"
@inject IGameService GameService
@inject IJSRuntime JsRuntime
@attribute [Authorize]

<PageTitle>BattleShip</PageTitle>

<main>
    @if (GameService.gameId != null)
    {
        <div class="grids">
            <PlayerGrid Positions="GameService.playerGrid.Positions"></PlayerGrid>
            <ComputerGrid Positions="GameService.opponentGrid.Positions"></ComputerGrid>
        </div>
    }
    else
    {
        <p>Chargement ...</p>
    }
</main>

<style>
    .grids {
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }
</style>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GameService.StartGame();
    }
}
