@page "/"
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>BattleShip</PageTitle>

<main>
    <header>
        <h1 id="title">Bataille Navale</h1>
    </header>
    <div class="buttons">
        @if (isUserAuthenticated)
        {
            <button role="button" @onclick="PlayGameSingle">Jouer contre l'IA</button>
            <button role="button" @onclick="PlayGameMultiplayer">Jouer en multijoueur</button>
            <button role="button" @onclick="ShowLeaderboard">Afficher le leaderboard</button>
        }
        else
        {
            <button role="button" @onclick="NavigateToLogin">Se connecter</button>
        }
        <button role="button" @onclick="CloseGame">Quitter</button>
    </div>
</main>

@code {
    private bool isUserAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isUserAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/authentication/login");
    }

    private void ShowLeaderboard()
    {
        Navigation.NavigateTo("/authentication/login");
    }

    private void PlayGameSingle()
    {
        Navigation.NavigateTo("/game");
    }

    private void PlayGameMultiplayer()
    {
        Navigation.NavigateTo("/multiplayer");
    }

    private async Task CloseGame()
    {
        await JS.InvokeVoidAsync("closeTab");
    }
}


<style>
    header{
        margin-bottom:12em;
    }

    #title {
        font-size: 4em;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
        font-style:italic;
    }

    .buttons {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 20px; 
    }

    button {
        background-color: #7fc9ff; 
        border: none; 
        border-radius: 30px; 
        color: #003366; 
        cursor: pointer;
        font-size: 20px; 
        font-weight: 600;
        padding: 15px 30px; 
        width:16em;
        transition: transform 0.3s ease, background-color 0.3s ease; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    }

    button:hover {
        transform: scale(1.1); 
        background-color: #66b3ff; 
    }

    button:focus {
        outline: none;
    }
</style>

<script>
    window.closeTab = function () {
        window.close(); 
    }
</script>


