@inject IGameService GameService

<div class="grid">
    @for (int row = 0; row < Positions.Length; row++)
    {
        @for (int col = 0; col < Positions[0].Length; col++)
        {
            var currentRow = row;
            var currentCol = col;

            Position opponentPosition = Positions[col][row];

            string cellBackGroundColor = opponentPosition.IsHit ? "red" : "";

            <button class="cell" @onclick="() => GameService.Attack(opponentPosition)"
                    style="background-color: @(cellBackGroundColor)">
            </button>
        }
    }
</div>

@code {
    [Parameter]
    public Position[][] Positions { get; set; }
    private async Task Attack(Position position)
    {
        await GameService.Attack(position);
    }
}

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 5px;
        background-color: #dce7f1;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .cell {
        width: 40px;
        height: 40px;
        border: 1px solid #b0c4de;
        border-radius: 4px;
        position: relative;
    }

        .cell:not([disabled]):hover {
            background-color: #7fc9ff;
        }

        .cell:not([disabled]) {
            cursor: pointer;
            transition: transform 0.2s, background-color 0.2s;
        }

    .boat-symbol {
        font-weight: bold;
        color: darkblue;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>