<div class="modal-content">
    <h5>@Title</h5>
    <p>@Message</p>
    <button @onclick="async () => await RestartGame()">Recommencer</button>
    <button @onclick="async () => await ReturnToMain()">Retour</button>
</div>

@code {
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Message { get; set; }

    private async Task RestartGame()
    {
        if (ModalInstance != null)
        {
            await ModalInstance.CloseAsync(ModalResult.Ok("restart"));
        }
    }

    private async Task ReturnToMain()
    {
        if (ModalInstance != null)
        {
            await ModalInstance.CloseAsync(ModalResult.Ok("return"));
        }
    }
}
